* ::after ::before{
  box-sizing: border-box;
  margin: 0em ;
}
body {  

  margin:  0em ;
  padding: 0em 1em;
  font-family: 'Mulish', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
